@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-completed: #22c55e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
